<!DOCTYPE html>
<html>

<head>
  <title>Dhuro gjak!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.couldflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="navAndFooter.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="style.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body>
  <%- include ('partials/navbar.ejs') %>

  <div class="card">
    <form>
      <center>
        <div class="row">
          <div style="color-adjust: fixed;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKdxPDQqphhZ1TBmunufMlePRt4SugXtKJLKRFbW0ECj3fE0q-0A&s(5 kB)
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKdxPDQqphhZ1TBmunufMlePRt4SugXtKJLKRFbW0ECj3fE0q-0A&s
" alt="Card image">
            <div class="card-img-overlay">
              <h4 class="card-title">Emri: <%= emri %></h4>
              <h4 class="card-title">Mbiemri: <%= mbiemri %></h4>
              <h4 class="card-title">Kontakti: <%= kontakti %></h4>
              <h4 class="card-title">Grupi i gjakut: <%= grgjakut %></h4>
              <h4 class="card-title">Historia:  <%= historia %></h4>
              

            </div>
          </div>
      </center>
      <br>
      <br>
      <br>
      <br>
      <div class="container">
        <section style="height:80px;"></section>

        <!----------- Footer ------------>
        <%- include ('partials/footer.ejs') %>
      </div>
</body>

</html>